@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
h2.promo-visitados{font-family: Sarala;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;}


.precios-descuentos{
font-family: Noto Serif Bengali;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.005em;
}
p > .descripcion {font-family: 'Poppins' , sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;}
    p > .descripcion.detalles {
            font-size: 16px;
            color: red;}
            
h2.precios-descuentos{
font-family: 'Titillium Web', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.005em;
}